@tailwind base;
@tailwind components;
@tailwind utilities;

/* Slim scrollbar styles */
.slim-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.slim-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.slim-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.slim-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* Firefox */
.slim-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}